:root {
  --primary-color: #3F3F3F;
  --secondary-color: #E7E7E7;
  --tertiary-color: #D2AE6D;
  --quaternary-color: #222222;

  --hover-color: #74613c;

  --quaternary-color-rgb: 34, 34, 34;
}

body{
    margin: 0;
    background-color: transparent;
    overflow-x: hidden;
}

.text{
    position: absolute;
    top: 300px;
    left: 80px;
    color: var(--secondary-color);
}

.text a{
    color: var(--tertiary-color);
}

.title {
    font-family: "Anton", sans-serif;
    font-size: 25px;
    line-height: 10px;
    }

/* Header */

header{
    font-family: "Libre Baskerville", serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(var(--quaternary-color-rgb), 0.95);
    padding: 0px 90px;
    position: sticky;
    top: 0;
    z-index: 10;
}

li{
    display: inline-block;
    margin: 10px;
    color: var(--tertiary-color);
}

li:hover{
    color: var(--hover-color);
    transition: 0.3s;
}

/* Sections */

/* Top */

section#Top::before{
    content: "";
    position: absolute;
    width: 800px;
    height: 300px;
    background: radial-gradient(
        ellipse at center,
        rgba(210, 174, 109, 0.6) 0%,
        rgba(210, 174, 109, 0.35) 30%,
        rgba(210, 174, 109, 0.15) 55%,
        transparent 70%
    );
    filter: blur(40px);
    top: 200px;
    left: 0px;
    z-index: 0;
}

section#Top .background{
    position: relative;
    z-index: -1;
    margin-top: -70px;
}

section#Top .background::before{
    content: "";  
    position: absolute;
    inset: 0;
    background-color: rgba(var(--quaternary-color-rgb), 0.9);
}

/* About */

section#About .title {
    color: var(--tertiary-color);
    }

.title2 {
    font-family: "Anton", sans-serif;
    font-size: 20px;
    line-height: 10px;
    }

.subtitle {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 5px;
}

section#About{
    margin-top: -3.5px;
    display: flex;
    flex-direction: row;
    background-color: var(--quaternary-color);
    width: 100%;
    height: 623px;
}


section#About .text{
    position: relative;
    top: 90px;
}

section#About .subtitle{
    position: relative;
    max-width: 350px;
    top: 35px;
    left: 30px;
    line-height: 30px;
    z-index: 1;
}

.triangle{
    width: 900px;
    height: 623px;
    left: 364.5px;

    overflow: hidden; 
    position: absolute;

    clip-path: polygon(
    40% 0,
    100% 0,
    100% 100%,
    0 100%
    );
}

.triangle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#About .triangle::before{
    content: "";  
    position: absolute;
    inset: 0;
    background-color: rgba(var(--quaternary-color-rgb), 0.8);
}

section#About::before{
    content: "";
    position: absolute;
    width: 900px;
    height: 300px;
    background: radial-gradient(
        ellipse at center,
        rgba(210, 174, 109, 0.6) 0%,
        rgba(210, 174, 109, 0.35) 30%,
        rgba(210, 174, 109, 0.15) 55%,
        transparent 70%
    );
    filter: blur(40px);
    top: 700px;
    left: 200px;
    z-index: 0;
    rotate: -50deg;
}

section#About2 .title {
    color: var(--tertiary-color);
    }

section#About2 .title2 {
    font-family: "Anton", sans-serif;
    font-size: 20px;
    line-height: 10px;
    color: var(--primary-color);
    }

section#About2 .subtitle {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 5px;
    position: relative;
    max-width: 350px;
    top: 35px;
    left: 30px;
    line-height: 30px;
    z-index: 1;
    color: var(--primary-color);
}

section#About2{
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    width: 100%;
    height: 623px;
}

section#About2 .text{
    position: relative;
    top: 90px;
}

.p-triangle{
    width: 900px;
    height: 623px;
    left: 364.5px;

    overflow: hidden; 
    position: absolute;

    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    40% 100%
    );
}

.p-triangle img {
    width: 100%;
    height: 130%;
    margin-top: -160px;
    object-fit: cover;
}

section#About2 .p-triangle::before{
    content: "";  
    position: absolute;
    inset: 0;
    background-color: rgba(var(--quaternary-color-rgb), 0.8);
}

section#About2::before{
    content: "";
    position: absolute;
    width: 900px;
    height: 300px;
    background: radial-gradient(
        ellipse at center,
        rgba(210, 174, 109, 0.6) 0%,
        rgba(210, 174, 109, 0.35) 30%,
        rgba(210, 174, 109, 0.15) 55%,
        transparent 70%
    );
    filter: blur(40px);
    top: 1300px;
    left: 90px;
    z-index: 0;
    rotate: 50deg;
}

/* Portfolio */

section#Portfolio{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    height: 2000px;
}

section#Portfolio .text{
    position: relative;
    top: 90px;
}

section#Portfolio .title {
    color: var(--tertiary-color);
    }

section#Portfolio .title2 {
    color: var(--secondary-color);
    }

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
    text-align: center;
    color: var(--primary-color);

    width: 270px;
    height: 350px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    margin-top: 40px;
    position: relative;
    top: 100px;
}
.card:hover {
    transform: scale(1.01);
    transition: transform 0.3s;
}
.card-title{
    color: var(--tertiary-color);
    margin-top: -4px;
    padding: 4px;
    background-color: var(--primary-color);
}
.description{
    max-width: 240px;
    margin: auto;
}

/* Contacts */

section#Contacts{
    width: 100%;
    height: 623px;
    background-color: var(--secondary-color);
    margin-top: -34px;
}

section#Contacts .text{
    position: relative;
    top: 120px;
    color: var(--secondary-color);
}

section#Contacts .title {
    color: var(--tertiary-color);
}

section#Contacts .title2 {
    color: var(--primary-color);
    font-size: 20px;
    }

.row1{
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    top: 160px;
    left: 100px;
    margin-top: 20px;
}

.box1{
    display: flex;
    gap: 15px;
    width: 170px;
    height: 40px;   
    background-color: var(--secondary-color);
    border-radius: 15px 0px 0px 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-items: center;
    padding: 10px;
    color: var(--primary-color);
    font-family: "Libre Baskerville", "sans-serif";
    font-weight: bold;
    font-size: 20px;
}
.box1 img{
    margin-left: 10px;
}
.box1:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
}

.box2{
    display: flex;
    gap: 20px;
    width: 340px;
    height: 40px;   
    background-color: var(--secondary-color);
    border-radius: 0px 15px 15px 0px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-items: center;
    padding: 10px;
    color: var(--primary-color);
    font-family: "Libre Baskerville", "sans-serif";
    font-weight: bold;
    font-size: 20px;
}
.box2:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
}

section#Contacts .tucan{
    position: relative;
    margin-top: -200px;
    margin-left: 800px;
}

/* Footer */

.footer1{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    padding: 20px 0;
    font-family: "Libre Baskerville", serif;
}

.footer1 img{
    position: relative;
    top: 100px;
    left: 80px;
}

.footer1 p{
    position: relative;
    top: 100px;
    max-width: 360px;
    left: 80px;
    font-size: 20px;
}

.footer2{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    font-family: "Libre Baskerville", serif;
    margin-top: 0.2px;
}

.map{
    position: relative;
    top: -180px;
    left: 700px;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
}